@using SystemTools.Extensions
@model Exception
@{
    ViewBag.Title = "Ошибка!";
    var isHttpException = Model as HttpException != null;
    var httpCode = isHttpException ? ((HttpException)Model).GetHttpCode().ToString() : "Отсутствует";
    var errorMessage = Model == null ? "Произошла неизвестная ошибка. Обратитесь к администратору системы" : @Model.GetErrorMessage();
}

<div class="alert alert-danger" role="alert">
    <h1>Код ошибки: @httpCode</h1>
    <div class="container">
        <p>@errorMessage</p>
    </div>
</div>
