@model Exception
@{
    ViewBag.Title = "Ошибка!";
    var isHttpException = Model as HttpException != null;
    var httpCode = isHttpException ? ((HttpException)Model).GetHttpCode().ToString() : "Отсутствует";
}

<div class="alert alert-danger" role="alert">
    <h1>Код ошибки: @httpCode</h1>
    <div class="container">
        <p>@Model.Message</p>
    </div>
</div>
