@using SystemTools
@model dynamic

@{
    ViewBag.Title = "Настройка безопасности";
    Layout = "~/Views/Shared/_SecurityLayout.cshtml";
}

<div class="container">
    <h2 class="page-header">Командная строка</h2>
    <div class="input-group" title="Введите команду">
        <input id="command" type="text" class="form-control" placeholder="Введите команду" aria-hidden="True"/>
        <div class="input-group-btn">
            <button id="eraseCommand" class="btn btn-default">x</button>
            <button id="cmdGo" class="btn btn-default">Отправить</button>
        </div>
    </div>
    
@*    <div class="panel panel-collapse" id="panel">*@
@*        <div class="alert alert-danger fade collapse" role="alert" aria-hidden="true" id="infoPanel">*@
@*            <button type="button" class="close" aria-label="Close" data-toggle="collapse" data-target="#infoPanel" aria-controls="infoPanel" aria-expanded="false">*@
@*                <span aria-hidden="true">&times;</span>*@
@*            </button>*@
@*            <div class="panel-body"><span class="text-danger" id="infoMessage">sdfgdfg</span></div>*@
@*        </div>*@
@*    </div>*@
</div>

@section FooterScripts 
{
    <script type="text/javascript">
        $(document).ready(function() {
            var getLastServerError = function() {
                var lastError = "Извините произошла какая-то ошибка, а какая узнать не удалось!";
                var uri = '@ApplicationSettings.ApplicationVirtualPath' + 'api/SecurityApi/PostLastError';
                $.ajax({
                    url: uri,
                    type: "POST",
                    async: false,
                    cache: false,
                    success: function(data) {
                        lastError = data;
                    }
                });

                return lastError;
            };

            var commandSend = function(command) {
                $.ajax({
                    url: '@Url.Action("CmdRun")',
                    data: { command: command },
                    //                    dataType: "JSON",
                    type: "POST",
                    cache: false,
                    async: false,
                    success: function() {
                        //Удаляем классы ошибки
                        $("#infoPanel").removeClass("alert-danger");
                        $("#infoMessage").removeClass("text-danger");

                        //Добавляем классы успешного выполнения
                        $("#infoPanel").addClass("alert-success");
                        $("#infoMessage").addClass("text-success");

                        //Выводим текст об успешном выполнении
                        $("#infoMessage").text("Команда выполнена успешно");

                        //Скрываем панель сообщения через 5 секунд
                        var timeout = setTimeout(function() {
                            $("#infoPanel").collapse('hide');
                        }, 5000);

                        //Открываем панель сообщения
                        $("#infoPanel").collapse('show');

                        //Удаляем текст команды
                        $("#command").val("");
                    },
                    error: function(jqXhr, textStatus, errorThrown) {
                        //                        if (textStatus == "parsererror")
                        //                            return;
                        $("#infoPanel").removeClass("alert-success");
                        $("#infoMessage").removeClass("text-success");

                        //Добавляем классы успешного выполнения
                        $("#infoPanel").addClass("alert-danger");
                        $("#infoMessage").addClass("text-danger");

                        $("#infoMessage").text(getLastServerError());
                        //                        var timeout = setTimeout(function() {
                        //                            $("#infoPanel").collapse('hide');
                        //                        }, 5000);
                        $("#infoPanel").collapse('show');
                    }
                });
            };

            $("#command").keypress(function(event) {
                if (event.which == 13)
                    commandSend($("#command").val());
            });

            $("#cmdGo").click(function() {
                commandSend($("#command").val());
            });

            $("#eraseCommand").click(function() {
                $("#command").val("");
            });

            $("#command").autocomplete({
                //                source: '@Url.Action("Intellisense")',
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("Intellisense")',
                        cache: false,
                        async: true,
                        data: { term: request.term },
                        success: function(data) {
                            response(data);
                        }
                    });
                },
                minLength: 0,
                delay: 0,
                select: function(event, ui) {
                    var terms = this.value.split(/\s+/);
                    terms.pop();
                    terms.push(ui.item.value);

                    this.value = terms.join(" ");
                    return false;
                },
                focus: function() {
                    return false;
                }
            });
        });
</script>
}
