@using SystemTools
@model dynamic

@{
    ViewBag.Title = "Настройка безопасности";
    Layout = "~/Views/Shared/_SecurityLayout.cshtml";
}

<div class="panel panel-default" style="margin-top:30px">
    <div class="panel panel-heading">
        sdfsadf
    </div>
    <div class="panel panel-body">
        body
    </div>
</div>