@model HttpException
@{
    ViewBag.Title = "Ошибка!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger" role="alert">
        <h1>Код ошибки: @Model.GetHttpCode()</h1>
        <div class="container">
            <p>@Model.Message</p>
        </div>
</div>
